<mat-card>
 <mat-card-content>
    <div class="header">
        <h2>LOGIN</h2>
    </div>
 <form>
    <form [formGroup]="login" (ngSubmit)="CheckUser">
    <div>
        <mat-form-field  class="full-width" appearance="outline">
            <mat-label>Username:</mat-label>
            <input matInput  placeholder="Username"  name="username" type="text" formControlName="uname" required> 
           <mat-error *ngif="login.get('uname').errors?.required">Required Username</mat-error>
        </mat-form-field>
    </div>
        <div>
        <mat-form-field  class="full-width" appearance="outline">
            <mat-label>Password:</mat-label>
            <input matInput placeholder="Password"  name="password" type="password" formControlName="pwd" required>
          
        </mat-form-field>
        <span class="aLink">Forgot Password?</span>
        </div>
       <p>
       <button mat-raised-button type="submit">Login</button>
       </p>
       <!--<span *ngIf="show"> <button mat-button color="accent">Login success !!</button>
        </span>-->
 </form>
 <a routerLink="/Signup" class="btn btn-link">New User</a>
 </form>
       
 </mat-card-content>
</mat-card>


