<mat-nav-list>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/Classes" routerLinkActive="list-item-active">
        <mat-icon>class</mat-icon>Classes
    </a>
    <a mat-list-item routerLink="/Students" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Students
    </a>
    <a mat-list-item routerLink="/logout" routerLinkActive="list-item-active">
        <mat-icon>logout</mat-icon>Logout
    </a>
</mat-nav-list>
