.div1{
    background-color: gray;
    align-items: center;
    height: 40px;
    width: 70px;
    text-align: center;
    font-size: 15px;
    margin: 25px;
    justify-content: center;
    padding-top: 10px;

}