<div id="container">
    <div class="div1">Total Classes
        <div class="content"><p>{{count}}</p></div>
    </div>
    <div class="div2">Total Students
        <div class="content"><p>{{count}}</p></div>
    </div>
</div>
<div id="container1">
<div class="div3"><h2 mat-list-item routerLink="/Classes" routerLinkActive="list-item-active">
    Add Classes
</h2></div>
<div class="div4"> <h2 mat-list-item routerLink="/Classes" routerLinkActive="list-item-active">
    Add Students
</h2></div>
</div>


